{% extends "base.html" %}

{% block title %}Товары{% endblock title %}

{% block content %}
    {{ block.super }}

    <h1>Список всех товаров</h1>
    <div class="items">
        {% for item in items %}
                <div class="item">
                    <a href="{% url "item-detail" item.id %}">
                        <h2>{{item.name}}</h2>
                        <br><br>
                        {{item.description}}
                    </a>
                </div>
        {% endfor %}    
    </div>
{% endblock content %}
