{% extends "base.html" %}

{% load static %}

{% block title %}Информация о товаре{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'MainApp/color.css' %}">
{% endblock  %}

{% block content %}
    {{ block.super }}
        <h1><p>Товар: {{item.name}}</p></h1>
        <p>Бренд: {{item.brand}}</p>
        <p>Количество: {{item.count | default:"Товар отсутствует"}}</p>
    <div>
        <p>Описание: {{ item.description }}</p>
    </div>
    <div>
        Доступные цвета:<br>
            <ul class="ul_no_mark">
                {% for color in colors %}
                    <li>
                        <span class="color-box" style="background-color: {{ color.name }} ;"></span>{{ color.name }}
                    </li>
                {%empty %}
                    <li>нет доступных цветов</li>
                {% endfor %}
            </ul>       
            
    </div>
    {% include "footer.html" %}
{% endblock content %}

