<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
</head>
<body>
    / <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a> /
    <br><br>
    {% if item.count == 0 %}
        <p>Товар отсутствует</p>
    {% else %}
       <p>Товар: {{item.name}}</p>
        <p>Количество: {{item.count}}</p>
    {% endif %}
    <a href='/items'>Назад к списку товаров</a>
</body>
</html>